{% extends 'starter-page.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% load static %}
{% block content %}

<h1>All contacts</h1>
    <div class="d-flex flex-wrap gap-5 container">
     {% for x in all%}

        <div class="card w-30 p-4 shadow-lg">
        <p class="fw-bold text-primary">{{ x.name }}</p>
        <p> <strong>Email :</strong>{{ x.email }}</p>
        <p> <strong>Subject :</strong>{{ x.subject }} </p>
        <p> <strong>Message :</strong> {{ x.message }}</p>

             <a href="{% url 'edit' x.id %}" class="text-warning me-5">
                <i class="bi bi-pencil">Edit </i>
            </a>


            <a href="/delete/{{ x.id }}" class="text-danger">
                <i class="bi bi-trash ">Delete</i>
            </a>


    {% endfor %}

  </div>
    </div>

{% endblock %}